APP_NAME=
NODE_ENV=development
PORT=3000
DATABASE=
DATABASE_PASSWORD=

JWT_SECRET=
JWT_EXPIRES=7d
JWT_COOKIE_EXPIRES_IN=7

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

API_DOCS=